@use '~shared/styles/base.scss' as *;
@use '~shared/styles/colors.scss' as *;
@use '~shared/styles/mixins.scss' as *;

.search-box-ul {
  overflow-y: auto;
  height: 24.25rem;

  .search-not-found {
    font-weight: $font-weight-regular;
    font-size: $text-sm;
    color: $grey;
  }

  &::-webkit-scrollbar {
    width: 0.375rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-light;
    border-radius: $radius-10;
  }

  &::-webkit-scrollbar-track {
    background: $transparent;
  }
}

.search-box-ul > * {
  margin-right: $spacing-10; /* Добавлено смещение для содержимого */
}
