@use '~shared/styles/base.scss' as *;
@use '~shared/styles/colors.scss' as *;
@use '~shared/styles/mixins.scss' as *;

.main-page {
  margin: $spacing-50 auto;
  width: 80rem;

  .main-box {
    @include flexbox;
    border-radius: $radius-10;
    height: 35.9375rem;
    @include box-shadow-1;
    background: $grey-near-white;

    .search-box {
      padding: $spacing-30;
      @include flexbox;
      @include flex-direction(column);

      .search-label {
        padding-bottom: $spacing-20;

        font-weight: $font-weight-semibold;
        font-size: $text-md;
        line-height: $line-height;
        color: $black-signal;
      }
    }

    .info-box {
      padding: $spacing-30;
      border-left: $border-1 solid $grey-light;
      background: $grey-near-white;
    }
  }
}
