$white: #ffffff;
$red: #e31f24;
$black: #000000;
$black-signal: #333333;
$grey: #76787d;
$grey-soft: #dededd; // Мягкий серый
$grey-light: #e0e0e0; // Светло-серый
$grey-ultra-light: #e9ecef; // Очень светло-серый
$grey-near-white: #fdfdfd; // Почти белый
