@use '~shared/styles/base.scss' as *;
@use '~shared/styles/colors.scss' as *;
@use '~shared/styles/mixins.scss' as *;

.header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  padding-bottom: $spacing-30;

  .user {
    font-weight: $font-weight-regular;
    font-size: $text-md;
    color: $black;
  }
}
